{% extends "themes/base_admin.html.twig" %}

{% block title %} Espace Admin{% endblock %}
{% block description %}Tableau de bord{% endblock %}

{% block main %}
     <h1 class="text-center my-3 display-5">Hello : {{app.user.firstname}}</h1>
{% endblock %}