{% extends "themes/base.html.twig" %}
{% block title %}Best-sellers{% endblock %}
{% block description %}Retrouvez nos meilleurs ventes{% endblock %}

    
{% block main %}
<div class="best-sellers mb-3">
  <img src="{{asset('build/images/best-sellers.png')}}" 
  alt="Liste des best-sellers"
  class="img-fluid w-100"
  style="height: auto;">
</div>

{#}KEYWORDS LIST{#}
{% include 'components/keywords.html.twig' with { article: article } only %}
{% endblock %}


