{% extends "themes/base.html.twig" %}
{% block title %} Problématique Cutanée{% endblock %}
{% block description %}Retrouvez nos produits en fonction de votre problématique cutanée{% endblock %}

    
{% block main %}
<div class="problématique-cutanée mb-3">
  <img src="{{asset('build/images/problématique-cutanée.png')}}" 
  alt="Liste des produits corps et cheveux"
  class="img-fluid w-100"
  style="height: auto;">
</div>
{% endblock %}


