*{
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight:400 ;
  font-style: normal;
}
.navbar-brand{
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.navbar-brand img {
    width: 150px; 
    height: 150px;  
}

.navbar-nav .nav-item {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}

