{% extends "themes/base.html.twig" %}
{% block title %}A propos de nous{% endblock %}
{% block description %} A propos de Noya{% endblock %}

    
{% block main %}
<div class="service client fw-bold fs-5">
<h1> A propos de nous </h1>
<h2>Noya, c’est l’histoire d’une jeune marque de cosmtique née il y a 3 ans, avec une vision simple mais puissante : proposer une beauté naturelle, responsable et proche de chacun.e.

Ancrée dans un mode de vie moderne et connecté, Noya s’inspire de la richesse des plantes, des rituels ancestraux et des besoins réels des peaux urbaines. Nos formules sont pensées pour s’adapter à votre quotidien, sans compromis entre efficacité, transparence et bien-être.

Éthique, parce que nous croyons que chaque choix compte : nos ingrédients sont soigneusement sélectionnés pour leur naturalité et leur impact limité sur l’environnement. Proche de vous, parce que votre peau, vos retours, vos attentes sont au cœur de chaque produit que nous créons.

Noya, c’est plus qu’une marque de cosmétique : c’est une communauté, un engagement, un souffle nouveau pour une beauté authentique et consciente.

</h2>


</div>
{% endblock %}


