{% extends "themes/base.html.twig" %}
{% block title %}Soin de la peau{% endblock %}
{% block description %}Retrouvez nos produits pour le soin de votre peau au quotidien{% endblock %}

    
{% block main %}
<div class="soin mb-3">
  <img src="{{asset('build/images/Soin-de-la-peau.png')}}" 
  alt="Liste des produits pour les soins de la peau"
  class="img-fluid w-100"
  style="height: auto;">
</div>
{% endblock %}


