{% extends "themes/base.html.twig" %}
{% block title %}Contactez nous{% endblock %}
{% block description %}Service client{% endblock %}

    
{% block main %}
<div class="service client fw-bold fs-5">
<h1>Service client </h1>
<h2>Du lundi au vendredi de 10H à 18H</h2>

<h2>Logo telephone : 06 12 02 45 30</h2>
<h2>Logo whatsapp's : 06 12 45 22</h2>
<h2>Logo mail : contact.noyafr@gmail.com</h2>

</div>
{% endblock %}


