<h1>Vérification du compte sur le site e-commerce Noya</h1>

<p>
   Veuillez confirmer votre adresse email en cliquant sur le lien ci-dessus <br><br>
    <a href="{{ signedUrl|raw }}">Vérifiez le compte</a>.

</p>
   Ce lien expirera dans{{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
<p>
    A bientôt !
</p>

