{% extends "themes/base_admin.html.twig" %}

{% block title %} Liste des categories{% endblock %}
{% block description %}Liste des categories{% endblock %}

{% block main %}
     <h1 class="text-center my-3 display-5">Liste des catégories</h1>
{% endblock %}